.Message__box__center__text
  .Comment-name
    .Name 
      = "宮本"
    .Time 
      = "%Y年%m月%d日 %H時%M分"
  .Comment-text
    .Message
      %p.Message__content
        = "コメント"
      -# - if message.content.present?
      -#   %p.Message__content
      -#     = message.content
      -# = image_tag message.image.url, class: 'Message__image' if message.image.present?
