= render 'header'

%section.main1
  = image_tag("k.png",class:"main-logo")

.Content
  .Content__google
  .Content__text 
    %h2.Content__text__name T.townとは？
    %p.Content__text__box 
      これは
      %br 和歌山県太地町の行政相談に関するアプリですああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああ

= render 'footer'