= render 'header'

%section.main1
  = image_tag("k.png",class:"main-logo")

.Content
  .Content__google
    %iframe(src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d26586.566909663303!2d135.92496761614328!3d33.596978313455814!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x600616560323ec03%3A0x1fc88aa9bdb5b140!2z5ZKM5q2M5bGx55yM5p2x54mf5amB6YOh5aSq5Zyw55S6!5e0!3m2!1sja!2sjp!4v1605447556541!5m2!1sja!2sjp" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0")
  .Content__text 
    %h2.Content__text__name T.townとは？
    %p.Content__text__box 
      和歌山県東牟婁郡太地町
    %span.boxtext このアプリケーションは私が、太地町で勤務していた際に不憫に思っていたものを形にしたアプリケーションです。私は、太地町の総務課で防災業務を主に業務を行っておりました。その他の業務で町の住民の方々に町のお知らせ及び広報紙等を配る

= render 'footer'