.Wrapper__inner__edit{
  width: 100%;
  display: flex;
  &__left{
    width: 30%;
    text-align: center;
    .contributor{
      padding: 30px 0;
      font-size: 20px;
      color: rgb(121, 121, 121);
    }
    .contributor-image{
      width: 120px;
      height: 120px;
      border-radius: 50%;
      background-position: center ;
    }
  }
  &__right{
    width: 70%;
    border: 2px solid rgb(121, 121, 121);
    border-radius: 5%;
    padding: 30px 20px ;
    text-align: center;
    .edit-title{
      font-size: 25px;
      margin-bottom: 10px;
    }
    .edit-tag{
      .tag{
      background-color: rgb(233, 233, 233);
      color: #ff8c00;
      padding: 2px 5px;
      margin-bottom: 5px;
      border-radius: 10%;
      }
    }
    .edit-image{
      .edit-image1{
        width: 80%;
        height: 300px;
        border-radius: 10%;
        background-position: center ;
        text-align: center;
        margin: 10px;
      }
    }
    .edit-text{
      font-size: 20px;
      .box{
        height: 300px;
        padding: 30px;
        border: 1px solid red;
        margin: 0 20px 20px 20px ;
      }
    }
    .edit-map{
      .map-text{
        display: flex;
        justify-content: center;
        font-size: 20px;
      }
      .map-icon{
        padding-right: 5px;
      }
      .edit-map1{
        width: 80%;
        height: 300px;
        border-radius: 10%;
        background-position: center ;
      }
    }
  }
}
