@media screen and (max-width: 980px){
  .Tweet__content__right__tweet{
    .Form__right{
      &__name{
        font-size: 35px;
      }
      &__text{
        font-size: 20px;
        .text-name{
          width: 12%;
        }
      }
    }
  }
}
