@media screen and (max-width: 980px){
  .Wrapper__content{
    margin: 0 auto;
    &__show{
      display: block;
      &__left{
        width: 100%;
        font-size: 40px;
        .edit-btn{
          width: 80%;
          height: 100px;
        }
        .contributor{
          font-size: 40px;
        }
      }
      &__right{
        width: 80%;
        margin: 0 auto;
        .show-title{
          font-size: 50px;
        }
        .show-like{
          font-size: 50px;
        }
        .likecount{
          font-size: 30px;
        }
        .show-tag{
          .tag{
            font-size: 30px;
          }
        }
        .show-image{
          .show-image1{
            margin-top: 60px;
          }
        }
        .show-text{
          font-size: 40px;
        }
        .map-text{
          font-size: 40px;
        }
      }
      &__comment{
        width: 80%;
        .form__submit{
          font-size: 50px;
        }
      }
    }
  }
}