footer{
  height: 150px;
  background-image: image-url("sora1.jpg");
  background-size: cover;  
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.3;
}
.text{
  padding-top: 60px;
  font-size: 20px;
  text-align: center;
  opacity: 1;
}