* {
  box-sizing: border-box;
}

.top-page-header {
  background-color: #ffff80;
  box-shadow: 1px 1px 4px rgba(0,0,0,0.2);
  width: 100vw;
  padding: 2vh 5vw;
  display: flex;
  justify-content: space-between;
  max-height: 80px;
}

.header-logo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  display: block;
}

.t-icon {
  width: 2vw;
}

.logo {
  color: #99ccf2;
  font-size: 25px;
}

.gest{
  display: block;
  float: left;
  cursor: pointer;
  position: relative;
  margin-left: 2vw;
}
.gest:hover ul{
  display: block;
}
.content ul{
  display: none;
  position: absolute;
  right: 0;
  border-left: 1px solid #d8d8d8;
  border-right: 1px solid #d8d8d8;
  box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.1);
}
.content ul li{
  background-color: #f0f0f0;
  width: 120px;
}
.content ul li a{
  color: black;
  text-decoration: none;
  display: block;
  text-align: center;
  padding: 10px;
  border-bottom: 1px solid #d8d8d8;
}
.content ul li a:hover{
  color: #57C3E9;
}
.content{
  position: relative;
  right: 0;
  display: flex;
  .icon{
    font-size: 30px;
    color: #99ccf2;
    margin-right: 2vw;
  }
}