.Tweet{
  margin: 3vh 5vw;
  &__text{
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(121, 121, 121);
    font-size: 40px;
  }
  &__content{
    display: flex;
    justify-content: center;
    height: calc(100vh - 60px);
    &__left{
      width: 30vw;
      padding: 5px 70px;
      &__text{
        margin: 0  0 20px 10px;
        font-size: 17px;
        color:  rgb(121, 121, 121);
      }
      &__search{
        .Form__input{
          display: flex;
          .tweet-search{
            padding: 0 5px 5px;
            border-style: none;
            outline: none;
            border-bottom: solid 2px silver;
          }
          .tweet-search:focus {
            border-bottom: solid 2px orange;
          }
          .tweet-search-btn{
            color: silver;
            background-color: white;
            border-style: none;
            display: block;
            cursor: pointer;
            outline: none;
          }
        }
      }
      &__tag{
        height: 200px;
        margin-top: 20px;
        .tag{
          background-color: rgb(233, 233, 233);
          color: #ff8c00;
          padding: 2px 5px;
          margin-bottom: 5px;
          border-radius: 10%;
          text-decoration: none;
          margin-right: 5px;
          margin-bottom: 10px;
        }
      }
    }
    &__right{
      width: 70vw;
      padding: 0 30px;
      &__text{
        font-size: 20px;
        color: #ff8c00;
        text-align: center;
      }
      .none{
        border: 2px solid rgb(121, 121, 121);  
        margin: 100px 80px;
        padding: 30px;
        font-size: 20px;
        color: #ff8c00;
        text-align: center;
      }
    }
  }
}