.Wrapper__content{
  margin-left: 50px;
  padding: 30px 0;
  &__show{
    width: 100%;
    display: flex;
    &__left{
      width: 20%;
      text-align: center;
      &__edit{
        text-align: center;
      }
      .edit-btn{
        margin:  20px auto;
        width: 190px;
        height: 40px;
        color: #FF8C00;
        background-color: white;
        font-weight: bold;
        border: solid 1.5px #FF8C00;
        display: block;
        cursor: pointer;
        outline: none;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        border-radius: 5px;
        .edit-btn-content{
          position: absolute;
        }
      }
      .contributor{
        padding: 30px 0;
        font-size: 20px;
        color: rgb(121, 121, 121);
      }
      .contributor-image{
        width: 120px;
        height: 120px;
        border-radius: 50%;
        background-position: center ;
      }
      
    }
    &__right{
      width: 40%;
      border: 2px solid rgb(121, 121, 121);
      border-radius: 5%;
      padding: 30px 20px ;
      text-align: center;
      max-height: 1000px;
      position: relative;
      .show-title{
        font-size: 25px;
        margin-bottom: 10px;
      }
      .show-like{
        position: absolute;
        right: 30px;
        font-size: 30px;
      }
      .show-tag{
        .tag{
        background-color: rgb(233, 233, 233);
        color: #ff8c00;
        padding: 2px 5px;
        margin-bottom: 5px;
        border-radius: 10%;
        }
      }
      .show-image{

        .show-image1{
          width: 80%;
          height: 300px;
          border-radius: 10%;
          background-position: center ;
          text-align: center;
          margin: 10px;
        }
      }
      .show-text{
        font-size: 20px;
        margin-top: 10px;
        .box{
          text-align: left;
          padding: 30px;
          margin: 0 20px 20px 20px ;
        }
      }
      .show-map{
        .map-text{
          display: flex;
          justify-content: center;
          font-size: 20px;
        }
        .map-icon{
         margin-right: 5px;
        }
        .show-map1{
          width: 80%;
          height: 300px;
          border-radius: 10%;
          background-position: center ;
        }
      }
    }
    &__comment{
      width: 30%;
      margin: 30px auto;
      padding: 30px;
      box-shadow: 0 0 10px rgba(41, 41, 41, 0.2);
      background-color: #f5f5f3;
      box-sizing: border-box;
      .textbox{
        width: 100%;
        margin: 5px 0 15px;
        padding: 10px;
        border: 1px solid #D8D8D8;
        border-radius: 5px;
        font-family: "游ゴシック", "YuGothic";
      }
      .form__submit{
        background-color: #57C3E9;
        border-radius: 20px;
        color: #fff;
        border: 0;
        font-size: 18px;
        width: 100%;
      }
      &__list{
        padding: 5px;
        margin-top: 15px;
        .commentdate{
          padding-top: 10px;
        }
        .commentname{
          color: #99ccf2;
        }
      }
    }
  }
}